# In-tree kernel configs. Note that these configs are only applied to
# non-GKI modules. Make sure they're compatible with GKI.
CONFIG_LOG_BUF_SHIFT=22
# CONFIG_MODULE_SIG_ALL is not set
CONFIG_NET_PKTGEN=m
CONFIG_CFG80211=m
CONFIG_NL80211_TESTMODE=y
# CONFIG_CFG80211_DEFAULT_PS is not set
# CONFIG_CFG80211_CRDA_SUPPORT is not set
CONFIG_MAC80211=m
CONFIG_OPEN_DICE=m
CONFIG_EEPROM_AT24=m
CONFIG_CHR_DEV_SG=m
CONFIG_I2C_CHARDEV=m
CONFIG_SPI_SPIDEV=m
CONFIG_SOFT_WATCHDOG=m
CONFIG_ARM_CMN=m
CONFIG_ARM_DSU_PMU=m
